In [29]:
%run code/helper_functions.ipynb

In [12]:
# Read in the data
df = pd.read_csv("data/large_train_sample.csv")

In [13]:
# Create list of continuous variables
cont_vars = ['education-num', 'age', 'hours-per-week', 'capital-gain', 'capital-loss', 'fnlwgt']

In [14]:
# Binarize wage
df['wage'] = df['wage'].apply(lambda a: int(a==' >50K'))

In [15]:
# Get mean wage by marital status
df.groupby(by="marital-status").mean()['wage'].sort_values(ascending=False)

marital-status
 Married-civ-spouse       0.446848
 Married-AF-spouse        0.434783
 Divorced                 0.104209
 Widowed                  0.085599
 Married-spouse-absent    0.081340
 Separated                0.064390
 Never-married            0.045961
Name: wage, dtype: float64

In [16]:
# Find the number of rows for each occupation category
df.groupby(by="occupation").count()['wage'].sort_values(ascending=False)

occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: wage, dtype: int64

In [17]:
# Find the number of rows for each education category
df.groupby(by="education").count()['wage'].sort_values(ascending=False)

education
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: wage, dtype: int64

In [ ]:
# Create a column that binarizes from the United States and from other countries
# Append created column to continuous variables list
df['is_usa'] = df['native-country'].apply(lambda a: int(a==' United-States'))
cont_vars.append("is_usa")

In [ ]:
# Create columns that group the top 7, 4, and 2 occupations
# Append created columns to continuous variables list
df["is_top7_occ"] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'
                                                       or a==' Protective-serv'
                                                       or a==' Tech-support'
                                                       or a==' Sales'
                                                       or a==' Craft-repair'
                                                       or a==' Transport-moving'))
cont_vars.append("is_top7_occ")

df['is_top4_occ'] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'
                                                       or a==' Protective-serv'
                                                       or a==' Tech-support'))
cont_vars.append("is_top4_occ")

df["is_top2_occ"] = df["occupation"].apply(lambda a: int(a==' Exec-managerial'
                                                       or a==' Prof-specialty'))
cont_vars.append("is_top2_occ")

In [ ]:
# Create a column for married vs not married
# Append created column to continuous variables list
df["is_married"] = df["marital-status"].apply(lambda a: int(a==' Married-civ-spouse' or a==' Married-AF-spouse'))
cont_vars.append('is_married')

In [ ]:
# Create a column to binarize sex
# Append created column to continuous variables list
df["is_male"] = df["sex"].apply(lambda a: int(a==' Male'))
cont_vars.append('is_male')

In [18]:
# Create columns of higher education
# Append created columns to continuous variables list
df["is_high_ed"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'))
cont_vars.append('is_high_ed')


df['is_doct_or_prof'] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                            or a==' Prof-school'))
cont_vars.append('is_doct_or_prof')

df["is_hs_grad"] = df["education"].apply(lambda a: int(a==' Doctorate'
                                                       or a==' Prof-school'
                                                       or a==' Bachelors'
                                                       or a==' Masters'
                                                       or a==' Assoc-voc'
                                                       or a==' Assoc-acdm'
                                                       or a==' Some-college'
                                                       or a==' HS-grad'
                                                      ))
cont_vars.append('is_hs_grad')

In [19]:
# Write dataframe to csv
df.to_csv("data/train_CLEAN.csv",index=False)

In [30]:
# Create list of correlation between continuous variables by wage
display_poly_corr(df, cont_vars, "wage", degree=1).head(20)

wage               1.000000
is_married         0.445289
education-num      0.335154
is_high_ed         0.327168
is_high_ed         0.327168
is_top4_occ        0.307887
is_top2_occ        0.306207
is_top7_occ        0.284013
age                0.234037
hours-per-week     0.229689
capital-gain       0.223329
is_male            0.215980
is_doct_or_prof    0.205437
is_doct_or_prof    0.205437
is_hs_grad         0.166292
is_hs_grad         0.166292
capital-loss       0.150526
is_usa             0.034470
fnlwgt            -0.009463
1                       NaN
Name: wage, dtype: float64

In [31]:
# Create list of correlation between interacting variables by wage
display_poly_corr(df, cont_vars, "wage", degree=2).head(50)

wage                            1.000000
education-num is_married        0.525309
is_married is_hs_grad           0.481351
is_married is_hs_grad           0.481351
is_top7_occ is_married          0.462759
hours-per-week is_married       0.459110
is_top4_occ is_married          0.447514
is_married is_high_ed           0.446700
is_married is_high_ed           0.446700
is_married^2                    0.445289
is_married                      0.445289
age is_married                  0.441018
is_top2_occ is_married          0.429034
is_usa is_married               0.423658
is_married is_male              0.399154
education-num age               0.393086
education-num hours-per-week    0.371399
is_male is_high_ed              0.361715
is_male is_high_ed              0.361715
fnlwgt is_married               0.360410
education-num is_top7_occ       0.359142
age is_high_ed                  0.357591
age is_high_ed                  0.357591
education-num^2                 0.357138
is_top4_occ is_male             0.354080
age is_top7_occ                 0.350022
is_top2_occ is_male             0.349982
hours-per-week is_high_ed       0.349638
hours-per-week is_high_ed       0.349638
is_top7_occ is_high_ed          0.345645
is_top7_occ is_high_ed          0.345645
age is_top4_occ                 0.342203
education-num is_top4_occ       0.337738
education-num is_high_ed        0.335299
education-num is_high_ed        0.335299
education-num                   0.335154
age is_top2_occ                 0.333339
hours-per-week is_top4_occ      0.332671
hours-per-week is_top7_occ      0.331752
education-num is_male           0.331585
education-num is_top2_occ       0.331291
hours-per-week is_top2_occ      0.327938
is_high_ed is_high_ed           0.327168
is_high_ed^2                    0.327168
is_high_ed is_hs_grad           0.327168
is_high_ed                      0.327168
is_high_ed is_hs_grad           0.327168
is_hs_grad is_high_ed           0.327168
is_high_ed^2                    0.327168
is_high_ed                      0.327168
Name: wage, dtype: float64

It seems that no interacting variables performed substantially better than the sum of their parts, so we won't include them. Since we are limiting ourselves to 10 features, we will use the following:

In [1]:
features = ['age', 'education-num', 'capital-gain',
       'capital-loss', 'hours-per-week', 'is_usa',
       'is_top7_occ','is_married', 'is_male',
       'is_high_ed']